/**
* !GLOBAL
*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #47a3da;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    height: 100%;
}



/**
* ¡HEADER
*/
header {
    box-shadow: 2px 2px 0 #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.highlight {
  border-bottom: 5px solid #47a3da;
}



/**
* ¡CONTAINERS
*/
.container {
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.card-container {
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
}

.chart-container {}



/**
* ¡CARDS
*/

.card {
  border: 4px solid #47a3da;
  margin:  0 4px 10px;
  padding: 15px 30px;
}



/**
* ¡HELPERS
*/
.squeeze {
    max-width: 1024px;
    position: relative;
    width: 100%;
}

.push--ends { margin: 20px 0; }
.push--top { margin-top: 20px;}
.push--bottom { margin-bottom: 20px;}
.push-half--bottom { margin-bottom: 10px;}
.pad--ends { padding: 20px 0;}
.pad-half--left { padding-left: 10px;}



/**
* ¡TYPOGRAPHY
*/
.title {
  margin: 0 5px 5px 4px;
}



/**
* !SCROLLBAR
*/
/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #95a5a6;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1abc9c;
    -webkit-box-shadow: inset 0 0 6px #1abc9c;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #1abc9c;
}
