* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

.main {
  background: #00dffc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pi {
  width: 350px;
  max-width: 100%;
}
